{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'movie/home.css' %}">
<ul>
    <li><a href="/movie/">Home</a></li>
    <li><a href="/movie/addmovie/" target="frame">Add Movie</a></li>
    <li><a href="/movie/addcustomer/" target="frame">Add Customer</a></li>
    <li><a href="/movie/availablemovie/" target="frame">Available Movie</a></li>
    <li><a href="/movie/assignmovie/" target="frame">Assign Movie</a></li>
    <li><a href="/movie/rentedmovie/" target="frame">Rented Movie</a></li>
    <li><a href="/movie/listofmovie/" target="frame">List of Movie</a></li>
    <li><a href="/movie/listofcustomer/" target="frame">List of Customer</a></li>

</ul>

<iframe height="550" width="1345"name="frame" style="background: aquamarine; border:2px solid black">
</iframe>


